* {
  background-color: black;
  color: seashell;
  font-family: helvetica;
}

header {
  opacity: 0.9;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0px;
  z-index: 10;
}

header nav {
  display: block;
  justify-content: space-around;
  text-align: right;
  flex-grow: 1;
  margin-right: 20px;
}

header nav a {
  font-size: 22px;
  text-decoration: underline;
  padding-left: 20px;
}

header img {
  margin-left: 10px;
  height: 50px;
  display: inline-block;
}

body {
  position: relative;
  top: 60px;
  width: 100%;
}

body .missiondiv {
  height: 700px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  display: flex;
  margin: auto;
}

body .missiontext {
  z-index: 5;
  display: block;
  text-align: center;
  width: 1200px;
  margin: auto;
}

body .featuredteadiv {
  display: block;
  padding: 70px;
  text-align: center;
}
